<!DOCTYPE html>
<html xmlns=http://www.w3.org/1999/xhtml
      xmlns:th="https://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/gunranch.css}" href="/css/gunranch.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <meta charset="UTF-8">
    <title>Edit Guns</title>
</head>
<div th:insert="~{fragments/header :: header}">Header</div>

<body>
<div class="position-relative">
    <img src="/images/reservationsbg.jpg" class="bg h-100 w-100 d-flex">
    <div class="position-absolute top-0 start-50 translate-middle-x bg-transparent text-center mt-5">
        <h1 class="text-center text-warning mt-1" th:text="'Editing gun: ' +${guns.name}"></h1>
        <div class="container text-start">

            <div th:if="${guns}">

                <form th:action="@{|/admin/editguns/${id}|}" method="post" id="editgun" enctype="multipart/form-data"
                      class="form-select container my-5 justify-content-center bg-transparent text-white border-0">
                    <div class="form-group">
                        <div class="row">

                            <div class="form-group col-md-4">
                                <label for="gunName" class="my-3"><strong>Gun Name:</strong></label>
                                <input type="text" class="form-control" id="gunName" placeholder="Gun name"
                                       th:field="*{guns.name}" required>

                            </div>
                                <div class="form-group col-md-4">
                                    <label for="gunType" class="my-3"><strong>Guntype:</strong></label>
                                    <select id="gunType" name="gunType" class="form-control" th:field="*{guns.gunType}">
                                        <option value="" selected disabled>Guntype</option>
                                        <option value="Handgun">Handguns</option>
                                        <option value="Shotgun">Shotguns</option>
                                        <option value="Rifle">Rifles</option>
                                        <option value="Assault Rifle">Assault Rifles</option>
                                        <option value="Sniper Rifle">Sniper Rifles</option>
                                        <option value="Submachine Gun">Submachine Guns</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="caliber" class="my-3"><strong>Caliber:</strong></label>
                                    <select id="caliber" name="caliber" class="form-control" th:field="*{guns.caliber}">
                                        <option value="" selected disabled>Caliber</option>
                                        <option value="9x19 mm">9x19 mm</option>
                                        <option value=".44 Magnum">.44 Magnum</option>
                                        <option value=".22 LR">.22 LR</option>
                                        <option value=".38 Special Magnum">.38 Special Magnum</option>
                                        <option value="7.62x25 mm">7.62x25 mm</option>
                                        <option value="5.56x45 mm">5.56x45 mm</option>
                                        <option value="7.62x54 mm">7.62x54 mm</option>
                                        <option value="12 GA">12 GA</option>
                                        <option value="7.62x51 mm">7.62x51 mm</option>
                                        <option value=".45 ACP">.45 ACP</option>
                                        <option value=".30-06 Springfield Ridge">.30-06 Springfield Ridge</option>
                                        <option value="7,92x57mm">7,92x57mm</option>
                                    </select>
                                </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="magazine" class="form-label"><strong>Magazine:</strong></label>
                                    <input id="magazine" class="form-control" min="0" type="number"
                                           th:field="*{guns.magazine}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="price" class="form-label"><strong>Price:</strong></label>
                                    <input id="price" class="form-control" min="0" type="number"
                                           th:field="*{guns.price}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="firearmsType" class="form-label"><strong>Firearms Type:</strong></label>
                                <select id="firearmsType" name="firearmsType" class="form-control"
                                        th:field="*{guns.firearmsType}">
                                    <option value="" selected disabled>Select Firearms Type</option>
                                    <option value="Semi-Auto">Semi-Auto</option>
                                    <option value="Full-Auto">Full-Auto</option>
                                    <option value="Revolver">Revolver</option>
                                    <option value="Carbine">Carbine</option>
                                    <option value="Pump-Action">Pump-Action</option>
                                    <option value="Bolt-Action">Bolt-Action</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="bio" class="my-3"><strong>Bio:</strong></label>
                                <textarea id="bio" name="bio" rows="5" cols="50" th:field="*{guns.bio}"
                                          placeholder="Tell something about yourself"></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <a class="btn btn-outline-warning mt-1" th:href="@{/guns}">Cancel</a>
                            </div>
                            <div class="col-md-2">
                                <input class="btn btn-outline-warning btn mt-1" type="submit" value="Save">
                            </div>
                        </div>
                    </div>
                    <!--    EEN FORM HEEFT ALTIJD EEN SUBMIT BUTTON!!!!!!!!!-->
                </form>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{fragments/footer :: footer}">Footer</div>

</body>
</html>