<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/gunranch.css}" href="/css/gunranch.css"/>
    <meta charset="UTF-8">
    <title>Guns</title>
</head>
<div th:insert="~{fragments/header :: header}">Header</div>

<body>

<h1 class="text-warning text-center">Types of Guns</h1>

<div th:if="${filtersEnabled}">
    <a class="btn btn-outline-warning" type="button" th:href="@{/guns}">Close Filter</a>
    <form action="#" th:action="@{/guns/filter}" method="get">
        <div class="btn-group">
            <select id="gunType" name="gunType" class="btn-warning btn" th:value="${gunType}">
                <option value="" selected disabled>Select Gun Type</option>
                <option value="Handgun">Handguns</option>
                <option value="Shotgun">Shotguns</option>
                <option value="Rifle">Rifles</option>
                <option value="Assault Rifle">Assault Rifles</option>
                <option value="Sniper Rifle">Sniper Rifles</option>
                <option value="Submachine Gun">Submachine Guns</option>
            </select>
        </div>
        <div class="btn-group">
            <select id="caliber" name="caliber" class="btn-warning btn" th:value="${caliber}">
                <option value="" selected disabled>Select Caliber</option>
                <option value="9x19 mm">9x19 mm</option>
                <option value=".44 Magnum">.44 Magnum</option>
                <option value=".22 LR">.22 LR</option>
                <option value=".38 Special/.357 Magnum Magnum">.38 Special/.357 Magnum Magnum</option>
                <option value="7.62x25 mm">7.62x25 mm</option>
                <option value="5.56x45 mm">5.56x45 mm</option>
                <option value="7.62x54 mm">7.62x54 mm</option>
                <option value="12 GA">12 GA</option>
                <option value="7.62x51 mm">7.62x51 mm</option>
                <option value=".45 ACP">.45 ACP</option>
                <option value=".30-06 Springfield Ridge">.30-06 Springfield Ridge</option>
                <option value="7,92x57mm">7,92x57mm</option>

            </select>
        </div>
        <h3>Magazine</h3>
        <div class="MagazineFilter">
            <div class="form-select w-50">
                <label for="minMagazine" class="form-label">Min Magazine</label>
                <input type="number" name="minMagazine" class="form-control" id="minMagazine"
                       placeholder="minMagazine"
                       th:value="${minMagazine}" step="1" min="5" max="40" th:class="w-100">
                <label for="maxMagazine" class="form-label">Max Magazine</label>
                <input type="number" name="maxMagazine" class="form-control" id="maxMagazine"
                       placeholder="maxMagazine"
                       th:value="${maxMagazine}" step="1" min="5" max="40" th:class="w-100">
            </div>
        </div>
        <div class="priceFilter">
            <div class="form-select w-75">
                <label for="minPrice" class="form-label">Min Price</label>
                <input type="number" name="minPrice" class="form-control" id="minPrice"
                       placeholder="minPrice"
                       th:value="${minPrice}" step="5" min="5" max="30" th:class="w-100">
                <label for="maxPrice" class="form-label">Max Price</label>
                <input type="number" name="maxPrice" class="form-control" id="maxPrice"
                       placeholder="maxPrice"
                       th:value="${maxPrice}" step="5" min="5" max="30" th:class="w-100">
            </div>
        </div>
        <div>
        </div>
        <h5> Firearms Type</h5>
        <div class="FirearmsFilterSemi">
            <label for="Semi-Auto" class="form-label">Semi-Auto</label>
            <input type="radio" class="form-control" name="firearmsFilter" id="Semi-Auto"
                   value="Semi-Auto" th:class="w-25" th:checked="${firearmsType=='Semi-Auto'}">
        </div>
        <div class="FirearmsFilterFull">
            <label for="Full-Auto" class="form-label">Full-Auto</label>
            <input type="radio" class="form-control" name="firearmsFilter" id="Full-Auto"
                   value="Full-Auto" th:class="w-25" th:checked="${firearmsType=='Full-Auto'}">
        </div>
        <div class="FirearmsFilterBoth">
            <label for="Both" class="form-label">Both</label>
            <input type="radio" class="form-control" name="firearmsFilter" id="Both"
                   value="" th:class="w-25" th:checked="${firearmsType==null} and ${firearmsType=='Both Semi-Auto and Full-Auto'}">
        </div>
        <div class="FirearmsFilterNeither">
            <label for="Neither" class="form-label">Neither</label>
            <input type="radio" class="form-control" name="firearmsFilter" id="Neither"
                   value="Neither" th:class="w-25" th:checked="${firearmsType=='Neither Semi-Auto nor Full-Auto'}">
        </div>
        <div>
            <input type="submit" value="search" class="btn btn-outline-info">
        </div>

    </form>

</div>
</div>

<div th:unless="${filtersEnabled}">
    <button><a class="btn btn-outline-warning " th:href="@{/guns/filter}">Open Filter</a></button>
</div>

<div class="weapons mt-5 mb-5">
    <div class="row justify-content-center mx-5">
        <div th:each="gun:${guns}" class="card card border-warning col-md-4">
            <img class="card-img-top" th:src="${gun.image}" th:alt="${gun.name}" width="192" height="250">
            <div class="card-body text-warning">
                <h5 class="card-title" th:text="${gun.name}"></h5>
                <p class="card-text" th:text=" 'Type: '+${gun.gunType}"></p>
                <p class="card-text" th:text=" 'Magazine: '+${gun.magazine}"></p>
                <p class="card-text" th:text=" 'Caliber: '+${gun.caliber}"></p>
                <p class="card-text" th:text=" 'Price: '+${gun.price}+' EUR'"></p>
                <p class="card-text" th:text=" 'Type of Firearm: '+${gun.firearmsType}"></p>
                <a class="btn btn-outline-warning" th:href="@{|/gunsdetails/${gun.id}|}">Meer info</a>

            </div>
        </div>
    </div>
</div>


</body>
<div th:insert="~{fragments/footer :: footer}">Footer</div>

</html>