<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/gunranch.css}" href="/css/gunranch.css"/>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<div th:insert="~{fragments/header :: header}">Header</div>
<body>
<div>
    <img src="/css/gun-background-img.jpg" class="img-fluid" alt="">
    <h1 th:text=" 'Welcome to '+${name}" th:class="text-center"></h1>
    <p th:class="text-center ">Unlock the thrill of precision shooting and feel the adrenaline flowing through you.
        We provide a state-of-the-art facility for both experienced gun masters and first-time shooters.
        Our commitment to safety, education, and an unparalleled shooting experience sets us apart. </p>
</div>






<div th:insert="~{fragments/footer :: footer}">Footer</div>
</body>

</html>