<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
          crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" media="all"
        th:href="@{/css/gunranch.css}" href="/css/gunranch.css"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-star-rating@4.0.9/css/star-rating.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <meta charset="UTF-8">
    <title>ParticipationForm</title>
</head>
<div th:insert="~{fragments/header :: header}">Header</div>

<body>

<h1 class="text-center text-warning">Compete </h1>

  <form th:action="@{/participationform}" th:object="${participations}" method="post" id="participation" class="form-select container my-5 justify-content-center w-50">
    <div class="form-group">
      <div class="row">
        <div class="form-group col-md-12">
          <label for="playerName" class="my-3"><strong>Player Name:</strong></label>
          <input type="text" class="form-control" id="playerName" placeholder="Player name"
                 th:field="*{playerName}" required >
        </div>

        <div class="form-group col-md-12">
          <label for="birthDate" class="my-3"><strong>Birthdate:</strong></label>
          <input type="date" class="form-control" id="birthDate"
                 th:field="*{birthDate}" required >
        </div>
        <div class="form-group col-md-12">
          <label for="skillLevel" class="my-3"><strong>Skill Level:</strong></label>
          <input type="range" class="form-control" id="skillLevel"
                 th:field="*{skillLevel}" required min="1" max="5" step="1" >
        </div>
        <div class="form-group col-md-12">
          <label class="my-3" for="games">Competing in</label>
          <select name="games" id="games" class="btn btn-warning form-control" th:field="${chosenGame}">
            <option th:each="game : ${chosenGame}" th:value="${game.id}" th:text="${game.title}"></option>
          </select>
        </div>
        <div class="form-group col-md-12">
          <label class="my-3" for="guns">Chosen Guns</label>
          <select name="guns" id="guns" class="btn btn-warning form-control" th:field="${selectedGuns}">
            <option th:each="gun : ${selectedGuns}" th:value="${gun.id}" th:text="${gun.name}"></option>
          </select>
        </div>
        <div class="form-group col-md-12">
          <label for="notes" class="my-3"><strong>Notes:</strong></label>
          <textarea class="form-control" id="notes" th:field="*{medicalConditions}"></textarea>
        </div>



    <input type="submit" class="btn btn-warning my-3"><a th:href="@{/participationdetails}" class="text-white text-decoration-none bi bi-send">Submit</a></button>
    </div>
    </div>
</form>

</body>
</html>