<!DOCTYPE htmL>
<html xmlns=http://www.w3.org/1999/xhtml
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/gunranch.css}" href="/css/gunranch.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <meta charset="UTF-8">
    <title>Reservationdetails</title>
</head>
<div th:insert="~{fragments/header :: header}">Header</div>

<body>
<h1>Thank you for you reservation<span th:text="' '+${#authentication.name}"></span>

<div th:each="booking : ${reservations}">

<p th:text="'Je reservatie zal doorgaan op' +${booking.getDate()}+' stipt om '+${booking.time} + 'Je komt met '+${booking.amountOfParticipants}+' personen.'"></p>

<p>Gekozen wapens:</p>

<p>De rekening voor de gekozen wapens bedraagt ???</p>

<p>De prijs die je per wapen betaald is goed voor 1 magazijn.
Als je meerdere magazijnen wilt gebruiken moet je opnieuw de prijs betalen voor dat wapen</p>

</div>
<div>
    <button type="button" class="btn btn-outline-warning"><a th:href="@{/reservations}" class="text-dark text-decoration-none">New reservation></a></button>
</div>
<div>
    <button type="button" class="btn btn-outline-warning">Cancel Reservation</button>
</div>
<div>
    <button type="button" class="btn btn-outline-warning"><a th:href="@{/}" class="text-dark text-decoration-none">Return to home page</a></button>
</div>

<div th:insert="~{fragments/footer :: footer}">Footer</div>
</body>
</html>